@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: #29667F;
  color: white;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
}

h2 { margin-bottom: 50px; }

h2,
a,
.quote {
  text-align: center;
}

.quote {
  height: 125px;
}

button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:active {
  background-color: #e7e7e7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.list {
  position: relative;
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
  right: 18px;
}

.list li {
  display: inline;
}

.list li a {
  color: black;
}